<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="SecuredByMessageEndpoint">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="SecuredByTransporWithMessageEnpoint">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="SecuredByTransportEndpoint">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:8080/message" binding="wsHttpBinding"
                bindingConfiguration="SecuredByMessageEndpoint" contract="ServiceReference1.IContract"
                name="SecuredByMessageEndpoint">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAZ+szxjzI2WzOmPNCMH6RA6OQyHEgAAAAAQAAALMBAAAwggGvMIIBXaADAgECAhB+zadypPUAnkr0uaicnOINMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTYwNjMwMjI0NDQ3WhcNMzkxMjMxMjM1OTU5WjASMRAwDgYDVQQDEwdjZXJ0MTIzMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCjEZsJG+2puYpViDXd2NbT+onMZGyV1uL83Ye7lc9zqQSX2meb0U/AGNtuN3YTTumVeYXLI9DAp0w4l2pr/AGimAC0PEW04jcnm+dFhtdQnwQz4j++LWCtkXyrOXkVBYyLwh7nEvwEudpxi8jQbE6kkzfalRbYAdlkrH9mTMk0lQIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwCQYFKw4DAh0FAANBAEs6cfIYlLXHu2hn1H7UGltE6t8Hd8kvGPjas3T154lS0BBeeQ4aPSZpsh+DLjTeTTmtCnlHi107My2Y1nxSTTc=" />
                </identity>
            </endpoint>
            <endpoint address="https://127.0.0.1:4000/" binding="wsHttpBinding"
                bindingConfiguration="SecuredByTransporWithMessageEnpoint"
                contract="ServiceReference1.IContract" name="SecuredByTransporWithMessageEnpoint" />
            <endpoint address="https://127.0.0.1:4000/transport" binding="wsHttpBinding"
                bindingConfiguration="SecuredByTransportEndpoint" contract="ServiceReference1.IContract"
                name="SecuredByTransportEndpoint" />
        </client>
    </system.serviceModel>
</configuration>