<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="fileHumans" value ="C:\Program Files (x86)\ServicesData\Humans.xml"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name ="wsHttpMessage">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name ="wsHttpTransportWithMessage">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name ="wsHttpTransport">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="mexBehavior" name="Service.MainService">
        <endpoint name="WSHttpBinding_Message"
                  address="MainService/Message" binding="wsHttpBinding"
                  contract="Service.IMainService" bindingConfiguration="wsHttpMessage">
        </endpoint>
        <endpoint name="WSHttpBinding_TransportWithMessage"
                  address="MainService/TransportWithMessage" binding="wsHttpBinding"
                  contract="Service.IMainService" bindingConfiguration="wsHttpTransportWithMessage">
          <identity>
            <dns value ="nickservice"/>
          </identity>
        </endpoint>
        <endpoint name="WSHttpBinding_Transport"
                  address="MainService/Transport" binding="wsHttpBinding"
                  contract="Service.IMainService" bindingConfiguration="wsHttpTransport">
          <identity>
            <dns value ="nickservice"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
            <add baseAddress="https://nickservice:8088" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior" >
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None"/>
            </clientCertificate>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Service.Autentification.Validator, Service"/>
            <serviceCertificate findValue="ServiceCert" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>